[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "attrib"]
	path = attrib
	url = https://github.com/cran/attrib
[submodule "plnr"]
	path = plnr
	url = https://github.com/raubreywhite/plnr
